<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NEW USER</title>
</head>

<!--CREATE NEW USER VERSION 1 !!! NOT WORKING!!!-->
<body>
<h2>Create new user here:</h2>

<form:form form th:action="newuser" th:modelAttribute="newuser">
  Name:
  <th: form:input path="name"/>
  <br/>
  <br/>
  Cell#
  <form:input path="cell"/>
  <br/>
  <br/>
  Sex:
  <form:input path="sex"/>
  <br/>
  <br/>
  Salary (USD):
  <form:input path="salary"/>
  <br/>
  <br/>
  Driver's licence:
  <form:input path="dl"/>
  <br/>
  <br/>
  <input type="submit" value="OK!">
</form:form>

  <!--CREATE NEW USER VERSION 2 !!! NOT WORKING!!!-->
<!--</form:>-->
<!--<form th:method="POST" th:action="@{newuser}" th:object="newuser">-->
<!--  <label for="name">enter name</label>-->
<!--  <input type="text" th:field="*{name}" id="name"/>-->
<!--  <br/>-->
<!--  <input type="submit" th:value="create">-->
<!--</form>-->



</body>
</html>